.gig-details-page {
  display: flex;
  flex-direction: row;
  gap: 20px;
  
}

.gig-details-modals{
    width: 100%;
}

.breadcrumb-side-nav{
    width: 15%;
}

.ratings-in-gig{
  width: 100%;
  gap: 50px;
}

.rating-distribution-gig{
  position: sticky;
  top: 20px;
  background-color: var(--white-color);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #d6d5d5;;
  height: 40%;
  margin-top: 10px;
  width: 40%;
}