.tag{
    padding: 6px 20px;
    background-color: #96979d31;
    color: var(--tag-text-color);
    border-radius: 20px;
    font-size: 13px;
    font-weight: 600;
    margin: 5px;
    max-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}