.tooltip-container {
  display: inline-block;
  position: relative;
  margin-left: 6px;
}

.tooltip-box {
  position: absolute;
  top: 120%;
  left: 0;
  background-color: #f8f9fa;
  color: var(--text-black-color);
  padding: 6px 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 12px;
   word-wrap: break-word; 
  white-space: normal; 
  z-index: 1002;
  box-shadow: var(--default-shadow);
  transition: var(--transition-ease);
  min-width: 200px; 
}
