.faqs-gig-details{
    width: 50%;
}

.gig-details{
    width: 90%
}

.gig-preview-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}