.create-an-account {
  display: flex;
  flex-direction: column;
  padding: 75px 40px;
  gap: 50px;
}

.card-title {
  font-size: 24px;
  font-weight: 600;
  color: var(--text-black-color);
}

.card-title-subtitle{
  gap: 8px;
}

.card-subtitle {
  font-size: 16px;
  color: var(--text-black-color);
}

.sign-in-button{
  text-decoration: underline;
}

.card-button-choices{
  gap: 15px;
}

.or-choice{
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: var(--text-grey-color);
}

.register-modal-show{
  padding: 45px 40px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.thanks-for-registering-modal{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
padding: 75px 40px;
  gap: 30px;
}

.button-title-register{
  gap: 15px;
}

.back-span{
  font-size: 16px;
  color: var(--text-black-color);
  font-weight: 600;
  margin-top: 3px;
}