.password-check-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 5px;
  color: var(--text-grey-color);
  font-size: 13px;
  gap: 5px;
}

.check-circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--white-color);
  border: 2px solid var(--text-grey-color);
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-circle i{
    font-size: 14px;
    color: var(--text-grey-color);
    padding: 3px;
}

.password-check-item.valid  {
  color: var(--fiverr-green-color);
}

.password-check-item.valid .check-circle {
  border-color: var(--fiverr-green-color);
}

.password-check-item.valid .check-circle i {
  color: var(--fiverr-green-color);
}

.password-check-item.invalid {
  color: red
}

.password-check-item.invalid .check-circle {
  border-color: red;
}

.password-check-item.invalid .check-circle i {
  color: red;
}