.gig-requirements-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
    padding: 0;
    list-style: none;
}

.gig-requirements-show-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    list-style: none;
}

.requirement-show-question{
    font-size: 16px;
    font-weight: 600;
    color: var(--text-black-color);
    margin-bottom: 10px;
}

.requirement-show-answer{
    font-size: 16px;
    font-weight: 500;   
    color: var(--text-black-color);
}
.gig-requirement-item{
    margin-bottom: 20px;
}