.all-messages-container {
    display: flex;
    flex-direction: column;
    padding: 0 0 20px 0;
    margin-top: 20px;
    width: 350px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #f0f0f0;
        border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
        border-left: 1px solid #e0e0e0;

}

.no-messages-yet{
    font-size: 16px;
    color: var(--text-black-color);
    font-weight: 600;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inbox-messages-all-filter{
    margin-top: 10px;
}

.no-messages-yet-description{
    font-size: 14px !important;
    font-weight: 500;
    color: var(--text-grey-color);
    text-align: center;
    margin-top: 10px;}