.statistics-card-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px 20px;
    padding: 20px 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px 0 50px 0;
}

