.new-skills-tag{
    display: inline-block;
    padding: 5px 10px;
    background-color: var(--white-color);
    border: 1px solid #ddd;
        border-radius: 5px;
    margin: 5px 0;
}

.new-skills-tag-text{
    font-size: 14px;
    color: var(--text-black-color);
}