.add-button{
    background-color: var(--green-color) !important;
    color: var(--text-black-color) !important;
    align-self: flex-end; 
    padding: 8px 15px;
    width: 80px;
}

.add-button:hover{
    background-color: #4BFF6D !important;
}

.actions-dropdown-visibility-button{
    background-color: #ececec !important;
    border: none;
    font-size: 18px;
    color: var(--text-black-color);
    cursor: pointer;
    transition: var(--transition-ease);
    border-radius: 5px !important;
}

.actions-dropdown-visibility-button:hover {
    background-color: var(--text-grey-color);
}

.add-category-button{
    background-color: var(--fiverr-green-color) !important;
    color: var(--white-color) !important;
    align-self: flex-end; 
    padding: 8px 15px;
    text-decoration: uppercase;
    font-weight: 600 !important;
    font-size: 12px !important;
    width: 210px;
    border-radius: 5px !important;
    margin-bottom: 5px;
}

.add-filter-button{
    background-color: var(--text-black-color) !important;
    color: var(--white-color) !important;
    align-self: flex-end; 
    padding: 8px 15px;
    width: 120px;
}

.add-faq-button{
    background-color: var(--text-black-color) !important;
    color: var(--white-color) !important;
    align-self: flex-end; 
    padding: 8px 15px;
    width: 80px;
}

.switch-to-button{
    background-color: var(--white-color) !important;
    border: 2px solid var(--fiverr-green-color) !important;
    box-shadow: none !important;
    color: var(--fiverr-green-color) !important;
    align-self: flex-end; 
    padding: 8px 15px;
    width: 190px;
    font-size: 16px !important;
    border-radius: 5px !important;
    transition: none !important;
    transform: none !important;
    margin: 5px 0;
}

.switch-to-button:hover{
    transform: none !important;
    box-shadow: none !important;
    transition: none !important;
}

.add-faq-button:hover{
    background-color: var(--text-grey-color) !important;
}

.add-filter-button:hover{
    background-color: var(--text-grey-color) !important;
}


.back-button{
    /*background-color: #ececec !important;*/
    background-color: var(--white-color) !important;
    font-size: 15px !important;
    box-shadow: none !important;
    color: var(--text-black-color) !important;
    padding: 8px 15px;
    width: 80px;
    align-self: flex-end; 
}

.back-button:hover{
    background-color: var(--text-grey-color) !important;
}

.continue-button{
    background-color: var(--text-black-color) !important;
    color: var(--white-color) !important;
    padding: 8px 15px;
    width: 100px;
    align-self: flex-end; 
}

.show-more-button{
    background-color: var(--text-black-color) !important;
    color: var(--white-color) !important;
    padding: 8px 15px;
    width: 170px;
    align-self: flex-end;
}

.show-more-button:hover{
    background-color: var(--text-grey-color) !important;
}
.continue-button:hover{
    background-color: #ececec !important;
}

.deactivate-button{
    background-color: #d32f2f !important; 
    border: none !important;
    color: var(--white-color) !important;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 520;
    padding: 8px 15px;
    width: 110px;
    align-self: flex-end; 
    cursor: pointer;
}

.deactivate-button:hover{
    background-color:#c62828 !important;
}

.remove-filter-button{
    background-color: #d32f2f !important; 
    border: none !important;
    color: var(--white-color) !important;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 520;
    padding: 8px 10px;
    align-self: flex-end; 
    cursor: pointer;
}

.remove-filter-button:hover{
    background-color:#c62828 !important;
}

.edit-button{
    background-color: #baf4ba  !important;
    color: var(--text-black-color) !important;
    align-self: flex-end; 
    padding: 8px 15px !important;
    width: 60px;
}

.edit-button:hover{
    background-color: #8FD98F !important;
}

.see-button{
    background-color: #E0E0E0 !important;
    color: var(--text-black-color) !important;
    align-self: flex-end; 
    padding: 8px 15px;
    width: 60px;
}

.see-button:hover{
    background-color: var(--text-grey-color) !important;
}

.dropdown-button{
    background-color: var(--white-color) !important;
    color: var(--text-black-color) !important;
    width: 150px;
    height: 37px;
    border-radius: 5px !important;
    font-size: 14px !important;
    font-weight: 520 !important;
box-shadow: var(--default-shadow) !important;
}

.dropdown-button:hover{
    background-color: #ececec !important;
    transform: none !important;
}

.sub-sub{
    width: 190px !important;
}

.status{
    width:90px !important;
}

.price-range{
    width: 120px !important;
}

.clear-all-button{
    background-color: var(--white-color) !important;
    border: none !important;
    box-shadow: none !important;
    color: var(--text-black-color) !important;
    width: 100px;
    height: 40px;
    font-size: 14px !important;
    font-weight: 550 !important;
}

.clear-all-button:hover{
    background-color: none !important;
    transform: none !important;
    box-shadow: none !important;
    transition: none !important;
}

.apply-button{
    color: var(--white-color) !important;
    background-color: var(--text-black-color) !important;
    border-radius: 5px !important;
    border: none !important;
    box-shadow: none !important;
    width: 100px;
    height: 40px;
    font-size: 14px !important;
    font-weight: 550 !important;
}

.apply-button:hover{
    background-color: var(--text-grey-color) !important;
    color: var(--white-color) !important;
    transform: none !important;
    box-shadow: none !important;
}

.remove-row-button{
    background-color: var(--white-color) !important; 
    box-shadow: none !important;
    border: none !important;
    font-size: 20px;
    align-self: flex-end; 
    cursor: pointer;
}

.remove-row-button:hover{
    box-shadow: none !important;
    transform: scale(1.3) !important;
}

.faq-delete-button, .faq-edit-button{
    background-color: var(--white-color) !important; 
    box-shadow: none !important;
    border: none !important;
    font-size: 20px;
    align-self: flex-end; 
    cursor: pointer;
}

.save-billing-info-button{
    background-color: var(--text-black-color) !important;
    color: var(--white-color) !important;
    padding: 8px 15px;
    width: 150px;
    border-radius: 5px !important;
    font-size: 16px !important;
    align-self: flex-end; 
    margin-top: 15px;
}

.edit-seller-details, .add-seller-details{
    background-color: var(--white-color) !important;
    color: var(--text-black-color) !important;
    border: 1px solid var(--text-black-color) !important;
    box-shadow: none !important;
    padding: 8px 15px;
    max-width: 270px;
    border-radius: 5px !important;
    font-size: 16px !important;
    align-self: flex-start; 
    font-size: 14px !important;
}

.edit-seller-details:hover, .add-seller-details:hover{
    color: var(--text-black-color) !important;
    border: 1px solid var(--text-black-color) !important;
    box-shadow: none !important;
    transform: none !important;
    transition: none !important;
}

.add-details-button{
    background-color: var(--text-black-color) !important;
    color: var(--white-color) !important;
    padding: 8px 15px;
    width: 90px;
    border-radius: 5px !important;
    display: flex-end;
    align-self: flex-end;
}

