.search-gig-by-keyword {
    position: relative;
    width: 100%;
}

.search-gig-by-keyword input.form-control {
    width: 620px;
    height: 42px;
    border-radius: 5px !important;
    box-shadow: none !important;
    border: 1px solid var(--text-grey-color) !important;
    padding: none !important;
}

.search-button {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: var(--text-black-color);
    color: var(--white-color);
    border: none;
    padding: 14px 17px;
    cursor: pointer;
    font-size: 15px;
border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;    display: flex;
  box-shadow: none !important;
    transition: none !important;
}

.search-button:hover {
    box-shadow: none !important;
    transition: none !important;
    transform: none !important;
}

.search-gig-by-keyword input::placeholder {
  width: 100%;
  padding: 5px 0px;
  font-size: 16px !important;
  color: var(--text-grey-color) !important;
}

