.search-gig-by-keyword {
    position: relative;
    width: 100%;
}

.search-gig-by-keyword input.form-control {
    width: 620px;
    height: 42px;
    border-radius: 5px !important;
    box-shadow: none !important;
    border: 1px solid var(--text-grey-color) !important;
    padding: none !important;
}

.search-button-k {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px; 
    height: 42px; 
    background-color: var(--text-black-color);
    color: var(--white-color);
    border: none;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    box-shadow: none !important;
    transition: none !important;
    box-sizing: border-box;
    transform: none !important;
}


.search-button-k:hover {
    box-shadow: none !important;
    transition: none !important;
    transform: none !important;
}

.search-gig-by-keyword input::placeholder {
  width: 100%;
  padding: 5px 0px;
  font-size: 16px !important;
  color: var(--text-grey-color) !important;
}

