.report-button-dropdown {
    position: relative;
    display: inline-block;
}

.report-dropdown-menu {
    position: absolute;
    right: 0%;
    top: 60%;
    background-color: var(--white-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    color: var(--text-black-color);
    padding: 5px 0;
}

.report-dropdown-item {
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}

.report-dropdown-item:hover {
    background-color: #f1f1f1;
}