.seller-details-page{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px; 
    padding: 15px 10px;
}
.seller-details-top {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px;
}


.gigs-quick-link{
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding: 22px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    width: 600px;
}

.quick-links-title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.quick-link{
    text-decoration: none;
    color: var(--text-black-color);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: var(--transition-ease);
}

.quick-link:hover{
    text-decoration: underline;
}

.seller-details-list{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 30px;
    width: 67%;
}

.seller-portfolio-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 67%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 20px;
}

.seller-portfolio-title{
    font-size: 20px;
    font-weight: 600;
    color: var(--text-black-color);
}

.seller-portfolio-no-content{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-grey-color);
    margin-bottom: 10px;
}

.seller-portfolios-content{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
}