.favourite-button-dropdown-container {
    position: relative;
    display: inline-block;
}

.favourite-dropdown {
    position: absolute;  
    top: 100%;
    right: 0;           
    background-color: var(--white-color);
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: var(--default-box-shadow);
    padding: 10px;
    min-width: 200px;
    z-index: 3000; 
}

.favourite-dropdown-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.favourite-dropdown-title-text {
    font-size: 16px;
    font-weight: 600;
    color: var(--text-black-color);
}

.favourite-dropdown-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    border-top: 1px solid #ddd;
}
