.skills-tag {
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 5px 15px;      
    background-color: var(--white-color);
    min-width: 0;   
    max-width: 200px;
    width: auto;    
}

.skills-tag-text {
    font-size: 14px;
    color: var(--black-color);
}
