.faq {
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding: 8px 0;
  font-size: 16px;
  color: var(--categories-description-color);
}

.faq-title-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.faq-question {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-answer-text {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: var(--transition-ease);
  padding: 0;
  display: hidden;
}

.faq-answer-text.open {
   opacity: 1;
  max-height: 200px;
  overflow: hidden;
  display: block;
}

.faq-button{
    cursor: pointer;
}

.faq-actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 65px;
}
