.explore-subcategories-title{
    font-size: 24px;
    font-weight: 600;
    color: var(--categories-description-color);
    margin-bottom: 10px;
    justify-content: flex-start;
}

.explore-subcategories-list{
    display: flex;
    flex-direction: row;
    max-height: 100%;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
    width: 100%;
}

.explore-subcategories-item-image{
    width: 300px;
    height: 170px;
    object-fit: cover;
    border-radius: 10px;
}

.explore-subcategories-item-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.explore-subcategories{
    margin-top: 40px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.explore-subcategories-item{
    display: flex;
    flex-direction: column;
    width: 310px;
    border-radius: 10px;
    gap: 22px;
}

.explore-subcategories-item-name{
    font-size: 20px;
    font-weight: 600;
    color: var(--text-black-color);
}

.explore-subcategories-subsubcategories{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    font-size: 18px;
    font-weight: 500;
}