.education-tag-date{
    font-size: 12px;
    text-decoration: wavy;
    color: var(--black-color);
    font-weight: 400;
}

.education-tag{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    background-color: var(--white-color);
    border-radius: 5px;
    border: 1px solid #ccc;
}

.major-end-year{
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 15px;
    color: var(--text-grey-color);
}

.degree-institution{
    font-size: 15px;
    color: var(--text-black-color);
    font-weight: 600;
    margin-bottom: 5px;
}

.education-institution{
    margin-left: 5px;
}