.favourites-page-title-button{
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    flex-wrap: wrap; 
    gap: 10px; 
    border-bottom: 1px solid #ccc;
}

.favourite-list-ietms{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin-top: 20px;
}