.message-box-contents {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #e0e0e0;

}

.participant-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.participant-b-info-order{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.partifipant-username-full-name{
  justify-content: center;
  align-items: center;
  display: flex;
}

.participant-profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  flex-shrink: 0;
}

.partificpant-names-country-languages {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.messages{
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-y: auto;
  flex-grow: 1;
  height: 80%;
  padding: 0 40px 0 40px;
}

.star-button {
  cursor: pointer;
  color: var(--text-black-color);
  box-shadow: none!important;
  font-size: 20px;
}

.message-box-top{
  background-color: #f0f0f0;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


.current-order-header {
  font-size: 16px;
  font-weight: bold;
  color: var(--text-black-color);
}

.current-order-status {
  font-size: 15px;
  color: var(--text-black-color);
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.current-order-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.current-order-price {
  font-size: 15px;
  font-weight: bold;
  color: var(--text-black-color);
}

.message-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.message-box{

}