.new-added-education   {
   display: inline-block;
    padding: 5px 10px;
    background-color: var(--white-color);
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 5px 0;
}

.new-institution{
    font-size: 15px;
    color: var(--text-black-color);
    flex-wrap: wrap;
    word-break: break-word;
    overflow-wrap: break-word; 
    max-width: 95%; 
    font-weight: 600;
}

.new-degree {
    font-size: 14px;
    color: var(--text-black-color);
    margin-left: 10px;
}

.new-major-end-year {
    font-size: 14px;
    color: var(--text-grey-color);
    gap: 5px;
}