.seller-info {
    display: flex;
    gap: 20px;
    width: 100%;
    padding: 0 20px;
}

.username-full-name{
    gap: 5px;
}

.seller-full-name-link {
    font-size: 22px;
    font-weight: 600;
    justify-content: flex-start;
    color: var(--text-black-color);
}

.seller-username{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-grey-color);
}

.seller-country {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-black-color);
    margin-right: 10px;
    padding-right: 15px;
    border-right: 1px solid #ccc;
}

.names-country-languages{
    gap: 10px;
}

.seller-langiages{
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.language-badge{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-black-color);
}

.seller-country i, .seller-industry i{
    margin-right: 2px;
}

.seller-member-since-label{
    font-size: 16px;
    font-weight: 600;
    color: var(--text-black-color);
    margin-right: 5px;
}

.seller-ratin-top-rated-divider{
    width: 1px;
  background-color:#ccc;
  height: 20px;
  margin: 0 8px;
}

.profile-picture-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}


