.tag-list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    width: 100%;

}

.tags{
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    width: 100%;
}

