.gig-info{
  display: flex;
  flex-direction: column;
}

.gig-title {
  font-size: 24px;
  font-weight: bold;
  color: var(--text-black-color);
  flex-wrap: wrap;
    word-break: break-word;
    line-height: 1.2;
}

.orders-in-queue{
    font-size: 15px;
    font-weight: 500;
    color: var(--text-grey-color);
    margin-bottom: 30px;
}

.gig-info-header{
    font-size: 20px;
    font-weight: 600;
    color: var(--text-black-color);
    margin-bottom: 10px;
    margin-top: 30px;
}

.gig-description{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-grey-color);
    margin-bottom: 20px;
    line-height: 1.5;
    word-break: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.gig-metadata{
    border-top: 1px solid #e0e0e0;
    padding-top: 20px;
}

.metadata-title{
    font-size: 16px;
    color: var(--text-grey-color);
    margin-bottom: 5px;
}