.rating-distribution-header {
  font-size: 19px;
    font-weight: bold;
    color: var(--text-black-color);
    margin-bottom: 10px;
}

.rating-distribution-average {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 15px;
  font-weight: bold;
}

.rating-distribution {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  max-width: 400px; 
}

.rating-distribution-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rating-distribution-chart{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rating-distribution-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  white-space: nowrap;
  gap: 10px;
  align-items: center;
}

.rating-distribution-bar-fill-wrapper {
  width: 90%;
  background-color: #e4e5e7;
  border-radius: 5px;
}

.rating-distribution-bar-fill {
  height: 8px;
  background-color: var(--text-black-color);
  border-radius: 5px;
}

.rating-distribution-bar-label {
  font-size: 16px;
  font-weight: 600;
  color: var(--text-black-color);
    width: 10%;
    margin-right: 5px;
}

.rating-distribution-total{
  font-weight: bold;
}