.issuer-date{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.certification-tag-issuer{
    font-size: 12px;
    color: var(--black-color);
    font-weight: 400;
}

.certification-tag-date{
    font-size: 12px;
    text-decoration:wavy;
    color: var(--black-color);
    font-weight: 400;
}

.certification-tag{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    background-color: var(--white-color);
    border-radius: 5px;
    border: 1px solid var(--text-grey-color);
    width: 80%;
}


.certification-issuer{
    font-size: 15px;
    color: var(--text-black-color);
    font-weight: 600;
    margin-bottom: 5px;
}

.certification-issuer-text{
    margin-left: 5px;
}

.certification-date{
    font-size: 14px;
    color: var(--text-grey-color);
    font-weight: 400;
}
