.dropdown-divider {
  height: 1px !important;
  background-color: #ddd;
  margin: 10px 0 !important;
}

.dropdown-item {
    display: block;
    text-decoration: none !important;
  padding: 5px 0 !important;
  color: var(--tag-text-color) ;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;}

.dropdown-item:hover {
  background-color: var(--fiver-green-color) !important; ;
}