.brief-description-title {
  font-size: 16px;
  font-weight: 600;
  color: var(--text-black-color);
  margin-bottom: 10px;
}

.wizard-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50%;
}

.subcategories-choices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.project-brief-wizard{
    position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  z-index: 1000; 
  overflow-y: auto; 
}