.notification-settings-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    gap: 5px;
    border-bottom: 1px solid var(--border-color);
}

.notification-settings-item input[type="checkbox"] {
  width: 18px;
  height: 18px;
  border-radius: 50%; 
  margin-right: 6px;
  border: 1.5px solid var(--text-grey-color);
  box-shadow: none !important;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  position: relative;
  background-color: white;
}

.notification-settings-item input[type="checkbox"]:checked {
  background-color:  var(--text-grey-color);
}