.star-rating {
  display: flex;
  gap: 6px;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

.star-rating span {
  transition: var(--transition-ease);
}

.star-rating span:hover {
  transform: scale(1.2);
}