.favourites-page-title-button {
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    flex-wrap: wrap; 
    gap: 10px; 
}

.favourite-lists{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    margin-top: 20px;
}